@page
@model ProiectWeb.Pages.Participari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Participari:</h1>

<p>
    <a asp-page="Create">Gestioneaza participarile!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Participare[0].DataOra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participare[0].Membru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participare[0].Clasa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Participare) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataOra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membru.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasa.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
