@page
@using Microsoft.AspNetCore.Identity;
@using ProiectWeb.Areas.Identity.Data;
@model ProiectWeb.Pages.Inscrieri.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Inscrieri:</h1>

<p>
    <a asp-page="Create">Gestioneaza Inscrierile!</a>
</p>

@inject UserManager<GymUser> UserManager

@if (UserManager.GetUserAsync(User).Result != null && UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin").Result)
{
    <form method="get">
        <div class="form-group">
            <label for="searchString">Caută membru:</label>
            <input type="text" class="form-control" id="searchString" name="searchString" value="@Model.SearchString" />
        </div>
        <button type="submit" class="btn btn-primary">Caută</button>
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inscriere[0].DataInscriere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscriere[0].DataInchiere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscriere[0].Membru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscriere[0].Abonament)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inscriere) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInscriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInchiere)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Membru.Nume)  @Html.DisplayFor(modelItem => item.Membru.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abonament.Tip)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
